<div id="paginator"></div>

<ul>
	{{#each collection}}
	<li>{{nome}} -> {{descrizione}} -> {{fotos.0.path}}</li>
	<div>
	<img src="{{fotos.0.path}}" /> 
	</div>
	<a class="colorbox" data-idgruppo="{{id}}" data-title="{{nome}}">Visualizza</a>

	{{/each}}
</ul>