<div id="paginator"></div>

{{#each collection}}
<div class="col-sm-6">
	<div class="portfolio-item">
		<div class="portfolio-image">
			<a class="colorbox" data-idgruppo="{{id}}" data-title="{{nome}}"><img
				src="{{fotos.0.path}}"></a>
		</div>
		<div class="portfolio-info">
			<ul>
				<li class="portfolio-project-name">{{nome}}</li>
				<li>{{descrizione}}</li>
				<li class="read-more colorbox" data-idgruppo="{{id}}"
					data-title="{{nome}}"><a class="btn">Visualizza</a></li>
			</ul>
		</div>
	</div>
</div>
{{/each}}
